.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  opacity: 100%;
  transition: opacity 1s linear;
}

.feynman__link:hover {
  opacity: 60%;
}
